/* Global Styles */
body {
  margin: 0;
  padding: 0; }
  @media (max-width: 650px) {
    body {
      background: url(../img/sunrise.jpg) no-repeat center center fixed; } }

* {
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }

/* Video */
.bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/sunrise.jpg) no-repeat;
  background-size: cover; }
  @media (max-width: 650px) {
    .bg-video {
      display: none; } }

/* Main header */
.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%; }
  .outer .middle {
    display: table-cell;
    vertical-align: middle; }
    .outer .middle .inner {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      text-align: center; }

.title {
  font-family: 'Allan', cursive;
  font-size: 6em; }
